body {
	background: black;
}

h1 {
	text-align: center;
}

.jumbotron {
	padding: 0px;
	font-family: "Permanent Marker";
}

#containerbutton {
	text-align:center;
}

.main-body {
	text-align: center;
	margin-top: 0px;
	padding: 0px 20% 0px 20%;
	border-top: 0px;
	color: white;

}

.gif {
	width: auto;
	height: auto;
	text-align: center;
}

img {
	height:400px;

}
#imgcontainer {
	text-align:center;
}

#album-releases {
	color: white;
}